/JavaApplication10/nbproject/private/
/JavaApplication10/build/
/File_Dialog/nbproject/private/
/File_Dialog/build/
/NewPythonProject/nbproject/private/
/NewPythonProject2/nbproject/private/
/Animation/dist/
/CRUD/dist/
/KeyListener/dist/
/File_Dialog/dist/
